<div>
    <span id="user_name"><%=user.user_name%></span>
    <span id="name"><%=user.name%></span>
    <span id="email"><%=user.email %></span>
    <span id="password"><%=user.password %></span>
</div>